@model Foundry.Web.Models.ResetPasswordModel
@{
    ViewData["Title"] = "Create Password";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}
<div class="login-box">
    <div class="head-box">
        <img src="~/images/login-logo.png">
    </div>

    <div class="head-title">
        <h2>
            Create Password
        </h2>
    </div>
    @if (ViewBag.MessageResponse != null)
    {
        <div id="dvResponse" class="alert @(@ViewBag.StatusResponse!=null && @ViewBag.StatusResponse==1 ? "alert-success" : "alert-danger")">
            @ViewBag.MessageResponse
        </div>
        <input type="hidden" id="hdnStatus" value="@ViewBag.StatusResponse" />
        <input type="hidden" id="hdnRedirect" value="@ViewBag.Redirect" />
    }
        <form asp-controller="Account" asp-action="CreatePassword" method="post" id="frmChangePassword" role="form">
            <div class="form-group">

                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @onblur = "checkForPassword(this);" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">

                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.IsLink)
            <div class="clearfix"></div>
            <div class="form-group form-group-submit text-center">
                <button type="submit" class="btn btn-primary btn-login">SUBMIT</button>
            </div>
        </form>
</div>
@section ViewScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#frmChangePassword").submit(function (e) {
                if ($("#Password").val().trim() != '') {
                    var result = TestPasswordExp($("#Password").val());
                    if (result != '') {

                        $("#Password").next().addClass("field-validation-error");
                        $("#Password").next().html(result);
                        e.preventDefault();
                    }
                    else {
                        $("#Password").next().removeClass("field-validation-error");
                        $("#Password").next().html('');
                        return true;
                    }
                }
            });
        });
        function CheckPasswordRegex() { }
        function checkForPassword() {
            if ($("#Password").val().trim() != '') {
                var result = TestPasswordExp($("#Password").val());
                if (result != '') {

                    $("#Password").next().addClass("field-validation-error");
                    $("#Password").next().html(result);
                }
                else {
                    $("#Password").next().removeClass("field-validation-error");
                    $("#Password").next().html('');
                }
            }
        }
    </script>
}